 div.animate-bottom {
    padding: 45px; 
  }   
  html { overflow-y: hidden; overflow-x: hidden;}
  h1 {
    color: blue; 
    font-size: 40px; 
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;

    }
    h2 {
        color: rgb(39, 39, 41);
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;

    }
    h3 {
        color: blue; 
        font-size: 16px; 
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0;
        }
        h4 {
            color: rgb(39, 39, 41); 
            font-size: 14px; 
            font-family: 'Source Sans Pro', sans-serif;
            }
    #tooltip {
        border: 1px solid black;
        background:  white ;
        display: none;
        position: absolute;
        padding: 5px;
        pointer-events: none;
        top: 100%;
        left: 50%; 
        margin-left: -60px;}

         svg{
            display: block;
            margin: auto;
        } 
     
